{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": ["@babel/plugin-transform-runtime"],
    "sourceMaps": "inline",
    "retainLines": true
  }