body {
    font-family: ‘Noto Sans’, Verdana, Arial, sans-serif;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 36px;
    color: #494949;
}

header {
    background-color: #036;
    border-bottom: 2px solid #fcba19;
    padding: 0 65px 0 65px;
    color: #fff;
    display: flex;
    height: 65px;
    top: 0px;
    position: fixed;
    width: 100%;
  }

  header .banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px 0 0;
    border-style: dotted;
    border-width: 1px;
    border-color: lightgrey;
  }
  
  header .other {
    display: flex;
    flex-grow: 1;
    border-style: dotted;
    border-width: 1px;
    border-color: lightgrey;
  }

  body div{
      display: flex;
      margin-top: 65px;
  }